* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.title {
  margin: 20px;
  font-size: 30px;
}

#gameContainer {
  width: 650px;
  margin: 50px auto;
  line-height: 50%;
}

.block {
  height: 200px;
  width: 200px;
  border: 5px black solid;
  display: inline-block
}

#scoreboard {
  font-size: 50px;
  margin: 10px
}

.score {
  font-size: 25px;
}

#display {
  display: none;
}

#winner {
  font-size: 40px;
}

button {
  font-size: 25px
}